
@model ServiceAutoFINAL.Models.Users.CreateUserModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create User</h2>

@*<p> Welcome to our CREATE USER page!</p> *@

<div class="row">
    <div class="col-md-12">
        <form action="CreatePost" method="POST">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="username"></label>
                <input asp-for="username" class="form-control" />
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Create User</button>
        </form>
    </div>
</div>